@font-face {
    font-family: "Esqadero";
    src: url('fonts/Esqadero.otf');
}

@font-face {
    font-family: "inglobal";
    src: url('fonts/inglobal/inglobal.ttf');
}

body {
	font-family: Esqadero, Open Sans;
	font-size: 1.4em;
	padding-top: 50px;
}

p {
	width: 60%;
	height: auto;
	margin: 0 auto 0 auto;
	line-height: 2em;
}

.skils_list {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}

.container {
	max-width: 800px;
}

.info_row {
	min-height: 500px;
	text-align: center;
}

.navbar-default {
	background: #00BCD4;
	border-bottom: 1px solid #9ACC89;
}
.navbar-brand {
	font-family: inglobal, Open Sans;
	letter-spacing: 0.15em;
	font-weight: 700;
	font-size: 3rem;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	font-size: 1.6rem;
}

.grey {
	background: #B2EBF2;
}

.img-circle {
	max-width: 50%;
	height: auto;
	border: 3px solid #d9f2d9;
}

.flexbox_conteiner {
	display: flex;
}


.flexbox_block {
	margin: auto;
}


.column {
	padding: 20px 0;
}

#map {
	width: auto;
	margin: 0 auto 0 auto;
	height: 500px;
	margin-bottom: 20px; 
}

.effect1{
	-webkit-box-shadow: 0 8px 6px -6px #777;
	   -moz-box-shadow: 0 8px 6px -6px #777;
	        box-shadow: 0 8px 6px -6px #777;
}

.box-shad {
    -webkit-box-shadow: 1px 1px 6px 0px #777;
    -moz-box-shadow: 1px 1px 6px 0px #777;
    box-shadow: 1px 1px 6px 0px #777;
}

#footer {
	min-height: 90px;
	background: #607D8B;
	color: #FFFFFF;
}

#map_column {
	padding: 0;
}